
html {
    background-color: #000;

    color: #BBBBBB;
}

#header {
	opacity: 0.8;
    color: #555555;
    background-color: #FFFFFF;

    font-size: 18px;
    font-weight: bold;
    font-family: Tahoma;

    margin: 16px 8px 16px 8px;
    padding: 8px;
}

#stats {
	float: left;
	margin-left: 8px;
}

#container {
	width: 960px;
	height: 540px;
    margin: 0 auto;
    box-shadow: 0 0 8px #BBBBBB;
}

