
html {
	background-color: #000;

	color: #BBBBBB;
}

body {
}

#gui {
	background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 10px #000;
    border-radius: 5px;

	text-align: left;
	z-index: 11;
	position: absolute;
	font: 10px/1.2 Verdana, Arial, Helvetica, Sans-Serif;
	color: #aaa;

	padding: 4px 4px 24px 4px;
}

#gui>* {
	opacity: 1;
}

#container {
}

