
html {
	background-color: #000;

	color: #BBBBBB;
}

body {
}

#gui {
	background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 10px #000;
    border-radius: 5px;

	text-align: left;
	z-index: 11;
	position: absolute;
	font: 10px/1.2 Verdana, Arial, Helvetica, Sans-Serif;
	color: #ccc;

/*
	margin: 1.0em;
	padding: 10px;
*/

	height: 300px;
	width: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

#gui>* {
	opacity: 1;
}

#container {
}

